<form>
  Numero 1:<input type="text" value=4 id="n1"><br><br>
  Numero 2:<input type="text" value=3 id="n2"><br><br>
  <input type="button" value="Suma" onClick="suma()"> <br><br>
  <script type=""text/javascript"> 
  function suma(){
    var num1=parseInt(document.getElementById('n1').value)
    var num2=parseInt(document.getElementById('n2').value)
    var res=num1+num2
    document.getElementById('res').value=res
    }
    </script>  
    respuesta:<input type "text" id="res">
  
  

</form>